:root {
    font-size: 75.5%;
    font-family: montserrat, sans-serif;

}

h1{
    font-size: 3.rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #3974b79d;
}
hr{
margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
border-top: 1px solid rgba(0,0,0,0.1)
}
.container {
    width: 96rem;
    margin: 2rem auto;
}
.gallery-item{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax (150px, auto);
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
}